:root { 
  --black: #000000;
  --caribbean-green: #00d690;
  --mischka: #ced4da;
  --waterloo-: #7a8492;
  --white: #ffffff;
 
  --font-size-l: 22px;
  --font-size-m: 20px;
  --font-size-s: 13px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.inter-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-black-22px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-waterloo--22px {
  color: var(--waterloo-);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}
